/* 
chow_mobile.css
27/09/06 at 14:46
*/

#body_container  {
	display: none;
}

body {
    font-family: sans-serif;
    font-size: medium;
    background-color:  #eee;
}
a, a:link {
    color: #c90006;
}
#header,
#content,
#footer {
    padding: 5px;
}
#content {
    background-color:  #fff;
    border-bottom: 1px solid #999;
}
body,
#logo,
#search h3,
h1,
#servings p,
.mobile_recipe .byline,
p.backtotop
 {
    margin: 0;
    padding: 0;
}
#search {
    margin-top: 10px;
}
#header {
    background-color: #c90006;
}
h1, h2, h3 {
    font-size:  large;
}

.mobile_recipe .byline,
p.backtotop {
    font-size: small;
}

#footer {
    text-align: center;
    margin: 0;
}
.nobreak {
    white-space: nowrap;
}