/*
  oatmeal theme
*/

body {background-color: #faf1d8}

#custom-doc,
#simple #hd {background-color: #efd7ae}

#hd {background-color: #faf1d8}

#logo_chow a {background-image: url(/images/logo-chow-oatmeal.gif)}
#logo_ch a {background-image: url(/images/logo-ch-oatmeal.gif)}

#nav_tier1  {background-color: #900}

#nav_tier1 #main_menu .toggled,
.nav_tier2 {background-color: #700}

.nav_tier3 {background-color: #600; border-top: 1px solid #500}

#ft {background-color: #900}

#nav_tier1,
#nav_tier1 a,
#ft,
#ft a {color: #fff}

#nav_tier1 a:hover,
#ft a:hover {color: #FFF7AD}

#user_menu,
#user_menu a,
#hd .ad,
#hd .ad * {color: #900 !important}

#nav_tier1 .toggle_link,
#nav_tier1 .toggle_link:link,
#nav_tier1 .toggle_link:visited,
#nav_tier1 .toggle_link:hover {color: #e56040}

#searchbar .entry {border:2px solid #efd7ae}

.corner-top-left { background-image: url(/images/corner-top-left-oatmeal.gif); }
.corner-top-right { background-image: url(/images/corner-top-right-oatmeal.gif); }
.corner-bottom-left { background-image: url(/images/corner-bottom-left-oatmeal.gif); }
.corner-bottom-right { background-image: url(/images/corner-bottom-right-oatmeal.gif); }

.corner-inner-top-left { background-image: url(/images/corner-inner-top-left-oatmeal.gif); }
.blog #yui-main .yui-b { background-image: url(/images/corner-top-left-oatmeal-gray.gif); }
