			<div id="ft_body" class="yui-g">
				<div class="yui-g first">
					<div class="yui-u first">
						<p class="footer_title"><a href="/stories">Stories</a></p>

						<div class="footer_column_body">
							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/stories/11202">How to Remove Chicken Breasts</a></p>

								<p class="description">Save money and buy your chicken whole</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/stories/11199">Audible Edibles</a></p>

								<p class="description">Ten radio food shows that will leave you salivating</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/stories/11197">How to Set a Fried Egg</a></p>

								<p class="description">Give it a quick steam</p>
							</div>
						</div>

						<p class="more"><a href="/stories">More &gt;</a></p>
					</div>

					<div class="yui-u">
						<p class="footer_title"><a href="/recipes">Recipes</a></p>

						<div class="footer_column_body">
							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/recipes/10946">Grilled Lime Pound Cake with Raspberry Sorbet</a></p>

								<p class="description">A delicious finish to an alfresco meal</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/recipes/11373">Slushy Blended Margarita</a></p>

								<p class="description">The slushy cousin of the famous tequila cocktail</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/recipes/10628">Backyard Championship Ribs</a></p>

								<p class="description">Getting big-barbecue results with a smaller cooker</p>
							</div>
						</div>

						<p class="more"><a href="/recipes">More &gt;</a></p>
					</div>
				</div>

				<div class="yui-g">
					<div class="yui-u first">
						<p class="footer_title"><a href="/blogs">Blogs</a></p>

						<div class="footer_column_body">
							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/grinder/5903">Baconbaconbaconbacon ... It's BACON!</a></p>

								<p class="description">Salon kicks off Pork Week with a thoughtful analysis of the...</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/grinder/5902">Expensive Escargot</a></p>

								<p class="description">Rising prices hit the snail sector...</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="/grinder/5901">Uplifting Watermelon</a></p>

								<p class="description">Does eating melon make you horny...</p>
							</div>
						</div>

						<p class="more"><a href="/blogs">More &gt;</a></p>
					</div>

					<div class="yui-u">
						<p class="footer_title"><a href="http://www.chowhound.com/">Boards</a></p>

						<div class="footer_column_body">
							<div class="gumball mb10">
								<p class="footer_item_title"><a href="http://www.chowhound.com/topics/536427">Fancy Food Show experience NYC 2008</a></p>

								<p class="description">I attended the Fancy Food Show about a week ago and...</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="http://www.chowhound.com/topics/536426">GOOD EATS NEAR PASADENA PLAYHOUSE?</a></p>

								<p class="description">I'm going to the Playhouse this Saturday night. What's cooking? ...</p>
							</div>

							<div class="gumball mb10">
								<p class="footer_item_title"><a href="http://www.chowhound.com/topics/536425">Caterers in Denver</a></p>

								<p class="description">Need a caterer for an event with the DNC Convention. Budget...</p>
							</div>
						</div>

						<p class="more"><a href="http://www.chowhound.com/">More &gt;</a></p>
					</div>
				</div>

				<div class="clear"></div>
			</div>

			<div id="ft_nav">
				<p id="about_menu" class="mt10 mb10"><strong><a href="/about">About PALOOZA</a></strong> | <a href="http://sitemap.chow.com/">Site Map</a> | <a href="/newsletters">Newsletters</a> | <a href="http://m.chow.com/">Mobile</a> | <a href="/tags">Tags</a> | <a href="http://www.chowhound.com/boards/59">Feedback</a> | <a href="http://www.chowhound.com/boards/30">Site Talk</a> | <strong><a href="http://www.chowhound.com/topics/367605">Chowhound</a></strong> : <a href="http://www.chowhound.com/topics/367605">Guidelines</a> : <a href="http://www.chowhound.com/manifesto">Manifesto</a> : <a href="/faq">FAQ</a></p>

				<div id="cbsi_f" class="mt10 mb10">
					<div>

					<p><a href="http://www.paloozahub.com/?tag=footer;link">About Palooza Hub Networks</a> | <a href="http://www.paloozahub.com/careers/?tag=footer;link">Jobs</a> | <a href="http://www.paloozahub.com/advertise/?tag=footer;link">Advertise</a></p>

					<p>© 2008 Palooza Hub Networks. All rights reserved. | <a href="http://www.paloozahub.com/editorial/privacy.html?tag=ft">Privacy Policy</a> | <a href="http://www.paloozahub.com/editorial/terms.html?tag=ft">Terms of Use</a></p>
				</div>

				<div class="corner-bottom-left"></div>

				<div class="corner-bottom-right"></div>
			</div>
