			<div id="sidebar" class="yui-b">
				<div class="madison_ad ad sp16 pos100" id="ad_box">
					<!-- MAC ad -->

					<div style="text-align:center">
						<a href="http://www.cnetnetworks.com/adfeedback/?RGROUP=10605&amp;SEGMENTID=797246&amp;LINEID=253385&amp;SP=16&amp;ADVERTISERID=2443" target="new"><img src="http://i.i.com.com/cnwk.1d/Ads/common/ad_feedback_120x10_trans.gif" width="120" height="10" border="0" alt="advertisement" /></a><br />
					</div><a href="http://adlog.com.com/adlog/c/r=10605&amp;s=797246&amp;o=12856:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=SR&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=01c17-ad-e54897A5DE20C0563&amp;orh=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e30&amp;pg=&amp;t=2008.08.08.18.09.03/http://www.chow.com/stories/11082" target="_blank"><img src="http://adlog.com.com/adlog/i/r=10605&amp;s=797246&amp;o=12856:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=SR&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=01c17-ad-e54897A5DE20C0563&amp;orh=&amp;ort=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e30&amp;dvar=&amp;ucat_rsi=&amp;pg=&amp;t=2008.08.08.18.09.03/http://i.i.com.com/cnwk.1d/Ads/2443/10/CHOW_Wii_Menu_300x250.jpg" height="250" width="300" alt="Click Here" border="0" /></a><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw3.cnet.com::4067703728 2008.08.08.18.09.03 --><!-- MAC T 0.0.2.3 -->
				</div>

				<div class="module">
					<p class="topic_header_underline">In the Chowhound Boards</p>

					<div class="module_body">
						<div class="gumball">
							<h4><a href="http://chowhound.chow.com/topics/546494">Inexpensive Tiffin Tins online</a></h4>

							<p class="post_info_nb"><a href="http://www.chow.com/profile/202029">synecdoche</a> in <a href="http://chowhound.chow.com/boards/41">Cookware</a></p>
						</div>

						<div class="clear"></div>
					</div>
				</div>

				<div class="madison_ad ad sp162 pos100">
					<!-- MAC ad -->

					<div style="text-align:center">
						<a href="http://www.cnetnetworks.com/adfeedback/?RGROUP=11424&amp;SEGMENTID=803059&amp;LINEID=258019&amp;SP=162&amp;ADVERTISERID=2443" target="new"><img src="http://i.i.com.com/cnwk.1d/Ads/common/ad_feedback_120x10_trans.gif" width="120" height="10" border="0" alt="advertisement" /></a><br />
					</div><a href="http://adlog.com.com/adlog/c/r=11424&amp;s=803059&amp;o=12856:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=SR&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=00c17-ad-e8488E168B67CD59A&amp;orh=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e30&amp;pg=&amp;t=2008.08.08.18.09.03/http://www.chow.com/community-crush" target="_blank"><img src="http://adlog.com.com/adlog/i/r=11424&amp;s=803059&amp;o=12856:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=SR&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=00c17-ad-e8488E168B67CD59A&amp;orh=&amp;ort=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e30&amp;dvar=&amp;ucat_rsi=&amp;pg=&amp;t=2008.08.08.18.09.03/http://i.i.com.com/cnwk.1d/Ads/2443/10/CHOW_CommunityCrush_300x100.jpg" height="100" width="300" alt="Click Here" border="0" /></a><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw6.cnet.com::4078230448 2008.08.08.18.09.03 --><!-- MAC T 0.0.8.9 -->
				</div>

				<div id="rotator" class="module">
					<p class="topic_header_underline">In <a href="http://www.chow.com/blogs">Blog Posts</a></p>

					<div class="module_body">
						<div class="module">
							<p class="blog_logo"><a href="http://www.chow.com/grinder"><img alt="The Grinder - Our Food Media Blog" src="http://www.chow.com/images/blogs/headers/grinder_sm_tag.20080807184423.gif" /></a></p>

							<div class="post">
								<p class="post_item_title"><a href="http://www.chow.com/grinder/6115" rel="bookmark">Making a List, Greening it Twice</a></p>

								<p class="description"><span class="entry-summary"><i>Grist</i> magazine has a simple guide for an environmentally friendly shopping list.</span> <small class="more"><a href="http://www.chow.com/grinder/6115">More...</a></small></p>

								<div class="post_info">
									<p class="author vcard fn"><a href="http://www.chow.com/profile/39725"><img alt="" class="avatar tiny" src="/uploads/3/4/6/2643_happy_tiny.jpg" /></a> <strong><a href="http://www.chow.com/profile/39725">Miriam Wolf</a></strong><br />
									<abbr class='published' title='2008-08-08T09:07:00-07:00'>today</abbr> at 9:07am | <a href="http://www.chow.com/grinder/6115#comments">Comments (0)</a></p>
								</div>
							</div>
						</div>

						<div class="module">
							<p class="blog_logo"><a href="http://www.chow.com/pick"><img alt="CHOW Pick - Stuff We Like" src="http://www.chow.com/images/blogs/headers/pick_sm_tag.20080807184423.gif" /></a></p>

							<div class="post">
								<p class="post_item_title"><a href="http://www.chow.com/pick/6086" rel="bookmark">White Winter Winery's Black Harbor Dessert Mead</a></p>

								<p class="description"><span class="entry-summary">It’s almost like a port.</span> <small class="more"><a href="http://www.chow.com/pick/6086">More...</a></small></p>

								<div class="post_info">
									<p class="author vcard fn"><a href="http://www.chow.com/profile/28438"><img alt="" class="avatar tiny" src="/uploads/6/9/8/3896_jrthumb_tiny.jpg" /></a> <strong><a href="http://www.chow.com/profile/28438">James Norton</a></strong><br />
									<abbr class='published' title='2008-08-07T15:10:00-07:00'>yesterday</abbr> at 3:10pm | <a href="http://www.chow.com/pick/6086#comments">Comments (0)</a></p>
								</div>
							</div>
						</div>

						<div class="module">
							<p class="blog_logo"><a href="http://www.chow.com/digest"><img alt="The Digest - Chowhound's Daily Roundup" src="http://www.chow.com/images/blogs/headers/digest_sm_tag.20080807184423.gif" /></a></p>

							<div class="post">
								<p class="post_item_title"><a href="http://www.chow.com/digest/6127" rel="bookmark">Fresh, Fast Okra</a></p>

								<p class="description"><span class="entry-summary">Delicious cooking methods without the slime.</span> <small class="more"><a href="http://www.chow.com/digest/6127">More...</a></small></p>

								<div class="post_info">
									<p class="author vcard fn"><a href="http://www.chow.com/profile/10074"><img alt="" class="avatar tiny" src="/images/avatar-tiny.gif" /></a> <strong><a href="http://www.chow.com/profile/10074">Caitlin McGrath</a></strong><br />
									<abbr class='published' title='2008-08-07T12:42:00-07:00'>yesterday</abbr> at 12:42pm | <a href="http://www.chow.com/digest/6127#comments">Comments (0)</a></p>
								</div>
							</div>
						</div>

						<div class="module">
							<p class="blog_logo"><a href="http://www.chow.com/tastingnotes"><img alt="Tasting Notes - Our Wine Blog" src="http://www.chow.com/images/blogs/headers/tasting_notes_sm_tag.20080807184423.gif" /></a></p>

							<div class="post">
								<p class="post_item_title"><a href="http://www.chow.com/tastingnotes/5925" rel="bookmark">Surf, Wine, and Money</a></p>

								<p class="description"><span class="entry-summary">My Hawaiian vacation fantasy.</span> <small class="more"><a href="http://www.chow.com/tastingnotes/5925">More...</a></small></p>

								<div class="post_info">
									<p class="author vcard fn"><a href="http://www.chow.com/profile/12049"><img alt="" class="avatar tiny" src="/images/avatar-tiny.gif" /></a> <strong><a href="http://www.chow.com/profile/12049">Daniel Duane</a></strong><br />
									<abbr class='published' title='2008-07-09T15:45:00-07:00'>Wednesday, July 9, 2008</abbr> at 3:45pm | <a href="http://www.chow.com/tastingnotes/5925#comments">Comments (7)</a></p>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</div>
