		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-g bg_white carousel" id="fd_carousel_wrap">
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="610" height="300" id="fd_carousel" align="middle">
							<param name="allowScriptAccess" value="sameDomain" />
							<param name="allowFullScreen" value="false" />
							<param name="FlashVars" value="paramsURI=http://www.chow.com/assets/carousel.xml" />
							<param name="movie" value="http://www.chow.com//assets/carousel.swf" />
							<param name="quality" value="high" />
							<param name="wmode" value="transparent" />
							<param name="bgcolor" value="#ffffff" />
							<embed src="http://www.chow.com/assets/carousel.swf" quality="high" wmode="transparent" bgcolor="#FFFFFF" width="610" height="300" name="carousel" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="paramsURI=http://www.chow.com/assets/carousel.xml" />
						</object>
					</div>
				</div>
			</div>

			<div id="sidebar" class="yui-b">
				<div class="madison_ad ad pos100 sp16" id="ad_box">
					<!-- MAC ad -->

					<div style="text-align:center">
						<a href="http://www.cnetnetworks.com/adfeedback/?RGROUP=10804&amp;SEGMENTID=805843&amp;LINEID=258993&amp;SP=16&amp;ADVERTISERID=9174" target="new"><img src="http://i.i.com.com/cnwk.1d/Ads/common/ad_feedback_120x10_trans.gif" width="120" height="10" border="0" alt="advertisement" /></a><br />
					</div><img src="http://adlog.com.com/adlog/i/r=10804&amp;s=805843&amp;o=12854:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=FD&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=01c17-ad-e114877A6C312F9D57&amp;orh=&amp;ort=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e76&amp;dvar=&amp;ucat_rsi=&amp;pg=&amp;t=2008.07.17.04.39.36/http://i.i.com.com/cnwk.1d/Ads/common/dotclear.gif" height="0" width="0" alt="" style="position:absolute; top:0px; left:0px" />

					<div style="text-align:center;">
						<center>
							<script language='JavaScript1.1' src="http://ad.doubleclick.net/adj/N339.chow.com/B2987195.26;sz=300x250;ord=2008.07.17.04.39.36?" type="text/javascript">
</script> <noscript><a href="http://ad.doubleclick.net/jump/N339.chow.com/B2987195.26;sz=300x250;ord=2008.07.17.04.39.36?"><img src="http://ad.doubleclick.net/ad/N339.chow.com/B2987195.26;sz=300x250;ord=2008.07.17.04.39.36?" border="0" width="300" height="250" alt="Click Here" /></a></noscript>
						</center>
					</div><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw7.cnet.com::4064066480 2008.07.17.04.39.36 --><!-- MAC T 0.0.2.3 -->
				</div>
			</div>

			<div class="clear"></div>

			<div class="yui-gd">
				<div id="sidebar2" class="yui-u first">
					<div id="recipes">
						<div class="module">
							<div class="fr recipe_ad madison_ad ad pos100 sp2 empty">
								<!-- MAC ad --><!-- NO AD TEXT: _QUERY_STRING="GLOBAL&ADREQ&UA=Mozilla/5.0%20(Macintosh;%20U;%20PPC%20Mac%20OS%20X%2010_4_11;%20en)%20AppleWebKit/525.18%20(KHTML,%20like%20Gecko)%20Version/3.1.1%20Safari/525.18&REMOTE_ADDR=204.2.133.76&BRAND=26&SITE=103&NCAT=12854:&PTYPE=FD&SP=2&POS=100&BYPASSKEY=" _REQ_NUM="0"  --><!-- default ad --><img src="http://adlog.com.com/adlog/i/r=11807&amp;s=501815&amp;o=12854:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=FD&amp;nd=&amp;pid=&amp;cid=&amp;pp=100&amp;e=&amp;rqid=00c17-ad-e4486CDF159A2FA94&amp;orh=&amp;ort=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e76&amp;dvar=&amp;ucat_rsi=&amp;pg=&amp;t=2008.07.17.04.39.36/http://i.i.com.com/cnwk.1d/Ads/common/dotclear.gif" height="0" width="0" alt="" style="position:absolute; top:0px; left:0px" /><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw1.cnet.com::4078803888 2008.07.17.04.39.36 --><!-- MAC T 0.0.2.2 -->
							</div>

							<h2 class="topic_header"><a href="http://chow.com/recipes">Recipes</a></h2>

							<h3 id="fd_promo" class="contest_fd_promo"><a href="http://chow.com/community-crush">CHOW Community Crush</a></h3>

							<div class="module_promo">
								<img alt="Member Recipes" class="fl" src="http://chow.com/images/recipes/hd_member_recipes.gif" title="Member Recipes" /> <a href="http://chow.com/recipes/new"><img alt="Publish a Recipe" src="http://chow.com/images/recipes/btn_pub_recipe.gif" title="Publish a Recipe" /></a>

								<p class="first">Now you can <a href="http://chow.com/recipes/new">Add Your Own</a> recipes to CHOW!</p>

								<div class="recent_recipes">
									<p>Recently Added:</p>

									<ul>
										<li><a href="http://chow.com/recipes/12227"><strong>Raw Carrot Salad</strong></a> by <a href="http://www.chowhound.com/profile/204326/favorites">zakiasrecipes</a></li>

										<li><a href="http://chow.com/recipes/12217"><strong>Waltz on the Moon</strong></a> by <a href="http://www.chowhound.com/profile/210288/favorites">Apocalypse</a></li>
									</ul>

									<p class="fr"><strong><a href="http://www.chowhound.com/recipes/types/user">See all...</a></strong></p>
								</div>
							</div>

							<div class="gumball recipe_list_entry">
								<a href="http://chow.com/recipes/10921"><img alt="" src="http://chow.com/assets/2007/05/spanishstuffedpepp_105.jpg" /></a>

								<p class="topic"><small><a href="http://chow.com/recipes/50/category">Main</a></small></p>

								<h4><a href="http://chow.com/recipes/10921">Stuffed Poblanos with Black Beans and Cheese</a></h4>

								<p class="description"><a href="http://chow.com/recipes/10921">Super veggie burrito meets grilled peppers</a></p>

								<div class="clear"></div>
							</div>

							<div class="gumball recipe_list_entry">
								<a href="http://chow.com/recipes/10747"><img alt="" src="http://chow.com/assets/2008/06/ice_cream105.jpg" /></a>

								<p class="topic"><small><a href="http://chow.com/recipes/54/category">Sweet/Dessert</a></small></p>

								<h4><a href="http://chow.com/recipes/10747">Drunken Affogato (Ice Cream Shots)</a></h4>

								<p class="description"><a href="http://chow.com/recipes/10747">Spiked ice cream floats</a></p>

								<div class="clear"></div>
							</div>

							<div class="gumball recipe_list_entry">
								<a href="http://chow.com/recipes/11061"><img alt="" src="http://chow.com/assets/2008/06/cobb_salad105.jpg" /></a>

								<p class="topic"><small><a href="http://chow.com/recipes/49/category">Soup/Salad/Sandwich</a></small></p>

								<h4><a href="http://chow.com/recipes/11061">Classic Cobb Salad</a></h4>

								<p class="description"><a href="http://chow.com/recipes/11061">The original composed salad</a></p>

								<div class="clear"></div>
							</div>

							<div class="gumball recipe_list_entry">
								<a href="http://chow.com/recipes/11045"><img alt="" src="http://chow.com/assets/2008/06/lemonata105.jpg" /></a>

								<p class="topic"><small><a href="http://chow.com/recipes/41/category">Drink</a></small></p>

								<h4><a href="http://chow.com/recipes/11045">Mint “Limonata”</a></h4>

								<p class="description"><a href="http://chow.com/recipes/11045">A boozy take on Italian lemon soda</a></p>

								<div class="clear"></div>
							</div>

							<div class="gumball recipe_list_entry">
								<a href="http://chow.com/recipes/10995"><img alt="" src="http://chow.com/assets/2008/07/strawberrycake105.jpg" /></a>

								<p class="topic"><small><a href="http://chow.com/recipes/54/category">Sweet/Dessert</a></small></p>

								<h4><a href="http://chow.com/recipes/10995">Strawberry Whipped Cream Cake</a></h4>

								<p class="description"><a href="http://chow.com/recipes/10995">A light chiffon cake filled with mascarpone and sweet cream</a></p>

								<div class="clear"></div>
							</div>

							<p class="more more_img"><a href="http://chow.com/recipes">More Recipes</a></p>

							<div class="clear clear_10px">
								&nbsp;
							</div>
						</div>
					</div>

					<div id="video">
						<div class="module">
							<h2 class="topic_header"><a href="http://chow.com/videos">Videos</a></h2><noscript>You need Javascript enabled to view the video player</noscript> <script type="text/javascript" src="http://image.com.com/gamespot/shared/js/swfobject.js">
</script> <script type="text/javascript">
//<![CDATA[
														  document.write("<div id=\"flash_video_player\">You need Adobe Flash 8 to view the video player.  Get it <a href=\"http://www.adobe.com/go/getflashplayer\">here<\/a>.<\/div>");
														  var so = new SWFObject("http://image.com.com/gamespot/images/cne_flash/production/media_player/proteus/one/proteus2.swf", "mymovie", "278", "246", "8", "");
														  so.addParam("allowScriptAccess", "always");
															so.addVariable('playerMode', 'in_page');  so.addVariable('movieAspect', '4.3');  so.addParam('allowFullScreen', 'true');  so.addVariable('allowFullScreen', 1);  so.addParam('wmode', 'opaque');  so.addVariable('flavor', 'Chow278Version');  so.addVariable('skin', 'http://image.com.com/gamespot/images/cne_flash/production/media_player/proteus/one/skins/chow.png');  so.addVariable('paramsURI', 'http%3A%2F%2Fwww.chow.com%2Fproteus_proxy%3Frealm%3Dchow%26id%3D%26playlist%3D1497%26mode%3Din_page%26width%3D278%26height%3D246%26flavor%3DChow278Version%26skin%3Dchow.png%26ad_freq%3D3%26view_count%3D1%26ontology%3D12854%26ptype%3DFD%26share_url%3Dhttp%253A%252F%252Fwww.chow.com%252F%26bw%3D400');  
														  so.useExpressInstall("http://image.com.com/gamespot/images/cne_flash/production/media_player/proteus/one/expressinstall.swf");
														  so.setAttribute("xiRedirectUrl", "http%3A%2F%2Fwww.chow.com%2F"); 
														 so.write("flash_video_player");
//]]>
</script>

							<div class="module_body">
								<div class="gumball gumball_thumb bg_lightgrey mb10 video_list_entry">
									<a href="http://chow.com/stories/11210"><img alt="" src="http://chow.com/assets/2008/07/perfect_martini_105_A.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/90/category">The Perfect</a></small> <small class="media_type">Video</small></p>

									<h4><a href="http://chow.com/stories/11210">The Perfect Martini</a></h4>

									<p class="description"><a href="http://chow.com/stories/11210">It's made with more vermouth than you think</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball_thumb bg_lightgrey mb10 video_list_entryvideo_list_entry">
									<a href="http://chow.com/stories/11206"><img alt="" src="http://chow.com/assets/2008/07/OpenJarGlove.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/14/category">CHOW Tip</a></small> <small class="media_type">Video</small></p>

									<h4><a href="http://chow.com/stories/11206">How to Open a Stuck Jar, Part 2</a></h4>

									<p class="description"><a href="http://chow.com/stories/11206">A rubber glove provides traction</a></p>

									<div class="clear"></div>
								</div>

								<p class="more more_img"><a href="http://chow.com/videos">More Videos</a></p>

								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>

				<div id="main2" class="yui-u">
					<div class="yui-g bg_white mb10">
						<div id="stories" class="yui-u first">
							<div class="fr madison_ad ad pos200 sp2 empty">
								<!-- MAC ad --><!-- NO AD TEXT: _QUERY_STRING="GLOBAL&ADREQ&UA=Mozilla/5.0%20(Macintosh;%20U;%20PPC%20Mac%20OS%20X%2010_4_11;%20en)%20AppleWebKit/525.18%20(KHTML,%20like%20Gecko)%20Version/3.1.1%20Safari/525.18&REMOTE_ADDR=204.2.133.76&BRAND=26&SITE=103&NCAT=12854:&PTYPE=FD&SP=2&POS=200&BYPASSKEY=" _REQ_NUM="0"  --><!-- default ad --><img src="http://adlog.com.com/adlog/i/r=11935&amp;s=501815&amp;o=12854:&amp;h=cn&amp;p=2&amp;b=26&amp;l=en_US&amp;site=103&amp;pt=FD&amp;nd=&amp;pid=&amp;cid=&amp;pp=200&amp;e=&amp;rqid=01c17-ad-e54871FB576C6C698&amp;orh=&amp;ort=&amp;oepartner=&amp;epartner=&amp;ppartner=&amp;pdom=&amp;cpnmodule=&amp;count=&amp;ra=204%2e2%2e133%2e76&amp;dvar=&amp;ucat_rsi=&amp;pg=&amp;t=2008.07.17.04.39.36/http://i.i.com.com/cnwk.1d/Ads/common/dotclear.gif" height="0" width="0" alt="" style="position:absolute; top:0px; left:0px" /><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw5.cnet.com::4051434416 2008.07.17.04.39.36 --><!-- MAC T 0.0.2.2 -->
							</div>

							<h2 class="topic_header"><a href="http://chow.com/stories">Stories</a></h2>

							<div class="module_body">
								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11211"><img alt="" src="http://chow.com/assets/2006/11/TableManners_105x105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/71/category">Table Manners</a></small></p>

									<h4><a href="http://chow.com/stories/11211">Public Transit Picnic</a></h4>

									<p class="description"><a href="http://chow.com/stories/11211">Is it rude to eat on the subway?</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11191"><img alt="" src="http://chow.com/assets/2008/07/RFC_fries_105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/91/category">Recipe-Free Cooking</a></small></p>

									<h4><a href="http://chow.com/stories/11191">Oven Fries</a></h4>

									<p class="description"><a href="http://chow.com/stories/11191">Roasted instead of deep-fried</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11189"><img alt="" src="http://chow.com/assets/2008/07/10_strip_club_food_105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/70/category">The Ten</a></small></p>

									<h4><a href="http://chow.com/stories/11189">Strip Club Eats</a></h4>

									<p class="description"><a href="http://chow.com/stories/11189">Ten gentlemen's lounges with good food. Seriously.</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11208"><img alt="" src="http://chow.com/assets/2008/07/supertaster_105_071408.20080715210329.gif" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/88/category">Supertaster</a></small></p>

									<h4><a href="http://chow.com/stories/11208">Bagel Felony</a></h4>

									<p class="description"><a href="http://chow.com/stories/11208">Flat Earth Baked Crisps and Bagel-fuls</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/10693"><img alt="" src="http://chow.com/assets/2007/08/canning_105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/64/category">Project</a></small></p>

									<h4><a href="http://chow.com/stories/10693">Make Your Own Preserves</a></h4>

									<p class="description"><a href="http://chow.com/stories/10693">How to hold on to summer's best produce</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11201"><img alt="" src="http://chow.com/assets/2008/05/NQ_105_3.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/62/category">Nagging Question</a></small></p>

									<h4><a href="http://chow.com/stories/11201">Why Do You Need a Nonreactive Bowl for Some Recipes?</a></h4>

									<p class="description"><a href="http://chow.com/stories/11201">It's a matter of flavor and color</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11207"><img alt="" src="http://chow.com/assets/2006/12/juice_105x105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/74/category">The Juice</a></small></p>

									<h4><a href="http://chow.com/stories/11207">A Real Summer Red</a></h4>

									<p class="description"><a href="http://chow.com/stories/11207">Lagrein is lively and peppery</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11200"><img alt="" src="http://chow.com/assets/2006/11/TableManners_105x105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/71/category">Table Manners</a></small></p>

									<h4><a href="http://chow.com/stories/11200">Toasts, Not Roasts</a></h4>

									<p class="description"><a href="http://chow.com/stories/11200">How to get a wedding speech right</a></p>

									<div class="clear"></div>
								</div>

								<div class="gumball gumball gumball_thumb mb10 story_list_entry">
									<a href="http://chow.com/stories/11199"><img alt="" src="http://chow.com/assets/2008/07/ten_radio105.20080715210329.jpg" /></a>

									<p class="topic"><small><a href="http://chow.com/stories/70/category">The Ten</a></small></p>

									<h4><a href="http://chow.com/stories/11199">Audible Edibles</a></h4>

									<p class="description"><a href="http://chow.com/stories/11199">Ten radio food shows that will leave you salivating</a></p>

									<div class="clear"></div>
								</div>

								<p class="more more_img"><a href="http://chow.com/stories">More Stories</a></p>

								<div class="clear"></div>
							</div>
						</div>

						<div id="blogs" class="yui-u">
							<h2 class="topic_header"><a href="http://chow.com/blogs">Blogs</a></h2>

							<div class="module">
								<p class="blog_logo"><a href="http://chow.com/grinder"><img alt="The Grinder - Our Food Media Blog" src="http://chow.com/images/blogs/headers/grinder_sm_tag.20080715210329.gif" /></a></p>

								<div class="post">
									<p class="post_item_title"><a href="http://chow.com/grinder/5965" rel="bookmark">Oh to Be a Rock Star</a></p>

									<p class="description"><span class="entry-summary">Elton John gets his own Ben &amp; Jerry’s flavor.</span> <small class="more"><a href="http://chow.com/grinder/5965">More...</a></small></p>

									<div class="post_info">
										<p class="author vcard fn"><a href="http://chow.com/profile/28456"><img alt="" class="avatar tiny" src="http://chow.com/uploads/4/5/8/8854_me_tiny.jpg" /></a> <strong><a href="http://chow.com/profile/28456">Tea Austen Weaver</a></strong><br />
										<abbr class='published' title='2008-07-16T16:35:00-07:00'>today</abbr> at 4:35pm | <a href="http://chow.com/grinder/5965#comments">Comments (2)</a></p>
									</div>
								</div>
							</div>

							<div class="module">
								<p class="blog_logo"><a href="http://chow.com/pick"><img alt="CHOW Pick - Stuff We Like" src="http://chow.com/images/blogs/headers/pick_sm_tag.20080715210329.gif" /></a></p>

								<div class="post">
									<p class="post_item_title"><a href="http://chow.com/pick/5943" rel="bookmark">Fortnum &amp; Mason Gooseberry &amp; Elderflower Preserves</a></p>

									<p class="description"><span class="entry-summary">Great on toast.</span> <small class="more"><a href="http://chow.com/pick/5943">More...</a></small></p>

									<div class="post_info">
										<p class="author vcard fn"><a href="http://chow.com/profile/142982"><img alt="" class="avatar tiny" src="http://chow.com/uploads/5/7/9/180975_skull_cupcake_avatar_by_candysores_tiny.jpg" /></a> <strong><a href="http://chow.com/profile/142982">Roxanne Webber</a></strong><br />
										<abbr class='published' title='2008-07-16T15:12:00-07:00'>today</abbr> at 3:12pm | <a href="http://chow.com/pick/5943#comments">Comments (0)</a></p>
									</div>
								</div>
							</div>

							<div class="module">
								<p class="blog_logo"><a href="http://chow.com/digest"><img alt="The Digest - Chowhound's Daily Roundup" src="http://chow.com/images/blogs/headers/digest_sm_tag.20080715210329.gif" /></a></p>

								<div class="post">
									<p class="post_item_title"><a href="http://chow.com/digest/5969" rel="bookmark">Tasty Salad Spray</a></p>

									<p class="description"><span class="entry-summary">Wish-Bone’s Salad Spritzers dressing is better than it sounds.</span> <small class="more"><a href="http://chow.com/digest/5969">More...</a></small></p>

									<div class="post_info">
										<p class="author vcard fn"><a href="http://chow.com/profile/96341"><img alt="" class="avatar tiny" src="http://chow.com/images/avatar-tiny.gif" /></a> <strong><a href="http://chow.com/profile/96341">Sarah Perry</a></strong><br />
										<abbr class='published' title='2008-07-16T12:32:00-07:00'>today</abbr> at 12:32pm | <a href="http://chow.com/digest/5969#comments">Comments (1)</a></p>
									</div>
								</div>
							</div>

							<div class="module">
								<p class="blog_logo"><a href="http://chow.com/tastingnotes"><img alt="Tasting Notes - Our Wine Blog" src="http://chow.com/images/blogs/headers/tasting_notes_sm_tag.20080715210329.gif" /></a></p>

								<div class="post">
									<p class="post_item_title"><a href="http://chow.com/tastingnotes/5925" rel="bookmark">Surf, Wine, and Money</a></p>

									<p class="description"><span class="entry-summary">My Hawaiian vacation fantasy.</span> <small class="more"><a href="http://chow.com/tastingnotes/5925">More...</a></small></p>

									<div class="post_info">
										<p class="author vcard fn"><a href="http://chow.com/profile/12049"><img alt="" class="avatar tiny" src="http://chow.com/images/avatar-tiny.gif" /></a> <strong><a href="http://chow.com/profile/12049">Daniel Duane</a></strong><br />
										<abbr class='published' title='2008-07-09T15:45:00-07:00'>Wednesday, July 9, 2008</abbr> at 3:45pm | <a href="http://chow.com/tastingnotes/5925#comments">Comments (1)</a></p>
									</div>
								</div>
							</div>

							<p class="more more_img"><a href="http://chow.com/blogs">More Blogs</a></p>

							<div id="ocp_import_module">
								<p id="ocp_header">From CHOW Partners</p>

								<ul>
									<li class="head"><a href="http://pinchmysalt.com" onclick="window.open(this.href,'CHOW_partner','');return false;">Pinch My Salt</a></li>

									<li class="info"><a href="http://pinchmysalt.com/2008/07/16/wordless-wednesday-aloof-animals-at-the-san-diego-zoo/" onclick="window.open(this.href,'CHOW_partner_article','');return false;" title="...">Wordless Wednesday: Aloof Animals at the San Diego Zoo</a></li>

									<li class="date">12:46PM | July 16, 2008</li>
								</ul>

								<ul>
									<li class="head"><a href="http://cocktailnerd.com" onclick="window.open(this.href,'CHOW_partner','');return false;">Cocktail Nerd</a></li>

									<li class="info"><a href="http://cocktailnerd.com/?p=1157" onclick="window.open(this.href,'CHOW_partner_article','');return false;" title="Cocktail Nerd">Ain’t Livin’ Long Like This</a></li>

									<li class="date">05:52AM | July 16, 2008</li>
								</ul>

								<ul>
									<li class="head"><a href="http://runningwithtweezers.typepad.com" onclick="window.open(this.href,'CHOW_partner','');return false;">Running With Tweezers</a></li>

									<li class="info"><a href="http://runningwithtweezers.typepad.com/runningwithtweezers/2008/07/the-devil-made.html" onclick="window.open(this.href,'CHOW_partner_article','');return false;" title="First of all, thank you to everyone for the amazing comments and the support you've shown me both he...">the devil made me do it</a></li>

									<li class="date">05:49PM | July 14, 2008</li>
								</ul>

								<ul>
									<li class="head"><a href="http://tidbits.savorycities.com" onclick="window.open(this.href,'CHOW_partner','');return false;">Savory Cities Blog</a></li>

									<li class="info"><a href="http://savory.typepad.com/posts/2008/07/savory-new-yo-1.html" onclick="window.open(this.href,'CHOW_partner_article','');return false;" title="// This Week on Savory New York // The Japanese soup known as ramen has become one of the most popul...">Savory New York One Sheet: July 4th - July 11th</a></li>

									<li class="date">10:19AM | July 12, 2008</li>
								</ul><!--p id="ocp_learn_more">About <a href="http://www.cnetnetworks.com/partnerships/widgets/gallery.php?m=food">CHOW partner network</a></p-->
							</div>

							<div class="clear"></div>
						</div>
					</div>

					<div id="boards" class="yui-g bg_white">
						<p class="more more_img fr"><a href="http://www.chowhound.com">More</a></p>

						<h2 class="topic_header"><a href="http://www.chowhound.com">Boards</a></h2>

						<table class="posts">
							<tr>
								<th class="post_padding"></th>

								<th>Topic</th>

								<th class="post_count">Replies</th>

								<th>Last Post</th>

								<th class="post_padding"></th>
							</tr>

							<tr id="topic-539389" class="post post_odd">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/539389" rel="bookmark">Whats your favorite LES happy hour spot?</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/135607" class="url">arugala</a> in <span class="topic"><a href="http://www.chowhound.com/boards/18">Manhattan</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/539389#comments">10</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/155328" class="url">Taylor.Watson</a></strong> 1 minute ago</td>

								<td class="post_padding"></td>
							</tr>

							<tr id="topic-539217" class="post post_even">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/539217" rel="bookmark">New to Edmonton - need cheap recomendations!</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/203726" class="url">marauder</a> in <span class="topic"><a href="http://www.chowhound.com/boards/57">Western Canada</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/539217#comments">4</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/204873" class="url">jim bachinski</a></strong> 1 minute ago</td>

								<td class="post_padding"></td>
							</tr>

							<tr id="topic-538431" class="post post_odd">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/538431" rel="bookmark">Lunch in west 50's, 60's near Central Park West</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/131224" class="url">lovessushi</a> in <span class="topic"><a href="http://www.chowhound.com/boards/18">Manhattan</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/538431#comments">13</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/13867" class="url">RGR</a></strong> 2 minutes ago</td>

								<td class="post_padding"></td>
							</tr>

							<tr id="topic-535641" class="post post_even">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/535641" rel="bookmark">Ye Chon in Annandale</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/10156" class="url">Steve</a> in <span class="topic"><a href="http://www.chowhound.com/boards/14">Washington DC &amp; Baltimore Area</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/535641#comments">6</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/192253" class="url">mikebg</a></strong> 2 minutes ago</td>

								<td class="post_padding"></td>
							</tr>

							<tr id="topic-529875" class="post post_odd">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/529875" rel="bookmark">Eccentric/Unconventional Miami</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/105372" class="url">taiga</a> in <span class="topic"><a href="http://www.chowhound.com/boards/10">Florida</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/529875#comments">49</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/144856" class="url">The Chowfather AKA sobe</a></strong> 2 minutes ago</td>

								<td class="post_padding"></td>
							</tr>

							<tr id="topic-538420" class="post post_even">
								<td class="post_padding"></td>

								<td class="post_title">
									<p class="heading"><a href="http://www.chowhound.com/topics/538420" rel="bookmark">I CANNOT EAT DAIRY PRODUCTS!!!</a></p>

									<p class="post_info_nb vcard author fn"><a href="http://chow.com/profile/209550" class="url">SharonLH</a> in <span class="topic"><a href="http://www.chowhound.com/boards/7">Chicago Area</a></span></p>
								</td>

								<td class="post_count post_info_nb count"><strong><a href="http://www.chowhound.com/topics/538420#comments">25</a></strong></td>

								<td class="last_post post_info_nb"><strong><a href="http://chow.com/profile/108661" class="url">ceekskat</a></strong> 3 minutes ago</td>

								<td class="post_padding"></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
